Skip to content
 
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 @briankeenanbk Sign out
28
76 64 GoesToEleven/html-css-bootcamp
 Code  Issues 1  Pull requests 0  Projects 0  Wiki  Insights
html-css-bootcamp/.gitignore
d6f5585  on Oct 4, 2016
@GoesToEleven GoesToEleven linear gradient and av
    
51 lines (41 sloc)  542 Bytes
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# WebStorm
*.iml

# Directory-based project format:
.idea/
.idea/workspace.xml
**/.idea/workspace.xml

# mac hidden files
.DS_Store

#other
node_modules/
bower_components/
.tmp
.sass-cache
builds/**/images/*
*.ogg
#*.mp3
#*.mp4
#*.png
#*.jpeg

# security / ssl
*.pem
*.xxjson
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
Press h to open a hovercard with more details.
